	.profilepic{
	  width: 300px;
	  height: 300px;
	}
	.thumbnail{
		width: 400px;
		border-width: 2px; 
		border-color: black;
	}
	.navbar-custom .navbar-nav li a:hover {
    color: #dab839;
    outline: 0;
	}
	.profilepic:hover{
		color: #dab839;
	}